.heading {
	text-align: center;
	color: #eee;
}

#app {
	background-color: #2a9df5;
	min-height: 100vh;
}

.navbar {
	background-color: #FFFFFF00 !important;
	color: #FFF !important;
}

.navbar .navbar-nav {
	color: #FFF !important;
}

#space-up {
	margin-top: 1rem;
}

.display-body {
	width: 100%;
	height: auto;
	margin: auto;
	padding: 1.5rem 2rem
	// box-shadow: 0 4px 6px 0 rgb(0, 0, 0, 0.19), 0 4px 6px 0 rgb(0, 0, 0, 0.19);
}

.arts {
	list-style-type: none;
}

.col-lg-2 {
	list-style-type: none;
	padding: 1rem;
}

.col-lg-2 card {
	box-shadow: 0 4px 6px 0 rgb(0, 0, 0, 0.19), 0 4px 6px 0 rgb(0, 0, 0, 0.19);
}

.card .art-pic {
	margin: auto;
}

.nav-item .nav-link {
	color: #FFF !important;
}

.item {
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
}

.item-details {
	padding-left: 2rem;
	width: 100%;
}

.card-title {
	font-size: 1rem;
}

.card-text {
	font-size: 0.75rem;
}

.item-details h2, .item-details h3 {
	margin-top: 0.25rem;
	margin-bottom: 0.75rem;
}

.item-details p {
	color: #666;
	margin-top: 0.5rem;
	margin-bottom: 0.25rem;
}

.item-details #the-money {
	color: #666;
	margin-bottom: 1rem;
	margin-top: 2rem;
}

.myworks tbody tr {
	height: 5rem;
}

.table-titles {
	padding-left: 1rem;
}

.artwork-title {
	width: 15rem;
	padding-left: 1rem;
}

#form-edit {
	width: 70%;
	margin: auto;
}

.st-size {
	width: 6rem;
	text-align: center;
}

.item-details #play{
	width: 100%;
	display: block;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}