.heading {
	text-align: center;
}

.display-body {
	width: 70%;
	height: auto;
	margin: auto;
	padding: 1.5rem 2rem;
	box-shadow: 0 4px 6px 0 rgb(0, 0, 0, 0.19), 0 4px 6px 0 rgb(0, 0, 0, 0.19);
}

.arts {
	list-style-type: none;
}

.item {
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
}

.item-details {
	padding-left: 2rem;
	width: 100%;
}

.item-details h2, .item-details h3 {
	margin-top: 0.25rem;
	margin-bottom: 0.75rem;
}

.item-details p {
	color: #666;
	margin-top: 0.5rem;
	margin-bottom: 0.25rem;
}

.item-details #the-money {
	color: #666;
	margin-bottom: 1rem;
	margin-top: 2rem;
}

.myworks tbody tr {
	height: 5rem;
}

.artwork-title {
	width: 15rem;
	padding-left: 1rem;
}

.st-size {
	width: 6rem;
	text-align: center;
}

.item-details #play{
	width: 100%;
	display: block;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}